/*第一栏*/
.index_top {
	width: 90%;
	height: 460px;
	margin: auto;
	display: flex;
	background: url(../images/listbanner01.jpg) no-repeat;
	background-size: cover;
}
/*第一栏左边*/
.navigation_left {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 20%;
	background: #000000;
	padding-top: 30px;
	padding-bottom: 30px;
}

.navigation_left div {
	height: 30px;
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
	display: block;
	padding-left: 15%;
	margin-top: 5px;
}

.navigation_left a {
	color: #FFFFFF;
	font-size: 15px;
	font-family: "微软雅黑";
	padding-left: 10px;
	text-decoration:none;
}
/*a标签鼠标停留添加下划线效果*/
.navigation_left a:hover {text-decoration:underline ;}
/*第二栏*/
.index_middle_left {
	width: 90%;
	height: 170px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}
/*弹性布局*/
.index_middle_left div {
	flex: 0 0 25.5%;
}
/*第二栏第一个图片*/
.index_middle_left div:nth-child(1) {
	display: flex;
	flex: 0 0 50%;
	flex-wrap: wrap;
}

.index_middle_left div:nth-child(1) img {
	width: 94.5px;
	display: flex;
	height: 85px;
}

.index_middle_left div:nth-child(1) {
	flex: 0 0 20%;
}
/*压缩后面三张图片*/
.index_middle_left img {
	width: 100%;
	height: 100%;
}
/*第三栏*/
.index_footer {
	width: 90%;
	height: 120px;
	margin: auto;
	margin-bottom: 1%;
}
.index_footer img{
	width: 100%;
	height: 120px;
}