/* CSS Document */
body{
	background:rgb(20,33,42);
	}
#footer{
	color:#ffffff;
	}
/* 注册表单 */
.register{
	margin-left:25%;
	margin-bottom:15px;
	margin-top:30px;
	width:999px;
	height:666px;
	background:#444444;
	border-radius: 6px;
	}
/* 会员注册 */
h2{
	padding-top:5%;
	margin-left:45%;
	margin-bottom:5%;
	color:#ffffff;
	}
/* 表单文字 */
form strong{
	margin-left:35%;
	color:#ffffff;
	}
/* 表单输入框 */
input{
	height:23px;
	margin-top:30px;
	width:200px;
	}
/* 提交按钮 */
#submit{
	margin-top:5%;
	margin-left:35%;
	height:33px;
	width:300px;
	color:#ffffff;
	background: rgb(255,103,0);
	}